# Auto detect text files and perform LF normalization
* text=auto
#This is My Portfolio 

if you want to know more abt me then you can read mt read me file!

for now , I know  
HTML
CSS
JAVASCRIPT 
REACT 
JAVA
SPRINGBOOT
SQL
AGILE
JIRA
GIT 
GITHUB
